/* ===========================
   ESTILOS GLOBAIS DO PORTAL
   =========================== */
html, body, #root {
  min-height: 100vh;
  height: auto !important;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto; /* scroll global */
  font-family: "Inter", sans-serif;
  background-color: #f8f9fa;
  scroll-behavior: smooth;
}

/* Scrollbar global */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #0f5d54;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #127369;
}

/* Links e botões padrões */
a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: inherit;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}
